.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;

  & > p {
    font-size: 24px;
    font-weight: 5s00;
  }

  & > input {
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
  }

  & input:focus-visible {
    outline: none;
  }
}

.post-container {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-auto-rows: 620px;
  justify-content: center;
  column-gap: 15px;

  @media (max-width: 1280px) {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-auto-rows: auto;
  }

  .post-comment {
    margin-top: 10px;

    &__heading {
      margin-bottom: 5px;
      border-bottom: 1px solid rgb(105, 0, 0);
    }
  }
}

.post-list {
  margin: 3rem 0;

  &__item {
    padding: 1rem;
    border: 2px solid rgb(105, 0, 0);
    border-radius: 5px;
    margin-bottom: 2rem;
    cursor: pointer;
    width: 600px;
    height: 600px;
    position: relative;

    @media (max-width: 1280px) {
      width: 100%;
      height: 100%;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .title {
      border-bottom: 2px solid rgb(105, 0, 0);
      margin-bottom: 15px;

      & > p {
        text-transform: uppercase;
        font-size: 16px;
        color: rgb(144, 60, 60);
      }
    }

    .post-body {
      border: 1px solid black;
      padding: 1rem;
      border-radius: 5px;
      margin: 5px 0;

      & > p {
        font-size: 18px;
        color: rgb(144, 60, 60);
      }
    }
  }
}

.link {
  color: inherit;
  text-decoration: none;
}
