.details {
  display: flex;
  flex-direction: column;
  margin: 6rem 0;
  border: 2px solid black;
  border-radius: 20px;
  height: 700px;
  position: relative;

  &__title {
    padding: 1rem;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    border-bottom: 2px solid black;
  }

  &__body {
    padding: 1rem;
    font-size: 24px;
    border-bottom: 2px solid black;
  }

  &__body:first-letter {
    text-transform: capitalize;
  }

  &__comments {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }
}
